/* Reset browser defaults */
* {
    margin: 0;
    padding: 0;
    /* This ensures padding and borders are included in the element's total width and height */
}

/* Set root styles */
/* Overall styles */

html,
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth;
}

.wrap {
    min-height: 100vh; /* 최소 높이를 지정 */
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

/* input outline basic style  */
input {
    outline: none;
}

/* FOR HEADER */

header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

.top-box {
    height: 40px;
    background-color: #FAF4EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}


.header-search {
    margin-left: 10px;
}

.header-search a img {
    object-fit: cover;
    width: 13px;
    height: 13px;
}

.header-icons a img:hover {
    opacity: 0.5;
}

.header-search input {
    background-color: transparent;
    border: none;
    width: 300px;
    height: 30px;
    font-size: 12px;
}

.header-search :hover {
    background-color: white;
}

.header-search :focus {
    background-color: white;
}

.header-icons {
    margin-right: 10px;
}

.header-icons a img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background: transparent;
    vertical-align: baseline;
    width: 100%;
}

.top-nav.active {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.top-nav.active a,
.top-nav.active .logo {
    color: black;
}


.menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.menu a {
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: #FAF4EB;
}

.menu a:hover {
    /* color: #718293; */
    color: #ccc;
    transition: color 0.5s;
}

#nav-active{
    color: cornflowerblue;
}

.logo {
    width: 90px;
    text-align: center;
}

.logo a{
    font-size: 16pt;
    font-weight: 400;
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
}
